# Manual y Resumen del curso de Python

#### Python es un lenguaje orientado a Objetos, por lo que cuando asigna un valor a una variable, está esta obligada a pertenecer a un grupo de elemento, por ejemplo: int (número enteros), str (strings, que son conjunto de caracteres), float (número decimales), bool (variables con valores de verdad: True o False).

#### Por lo que cada vez que tengamos un objeto creado (variable) esta tendra un monton de funciones asociadas internas, solo por el hecho de pertenecer a ese grupo. Y podemos acceder todo ello con el comando dir(), y pedir ayuda con el comando help() cuando lo estimemos conveniente.

## Funciones varias:

### dir(): nos muestra todo el directorio de un objeto, todas las funciones.

In [1]:
# Ejemplo:
frase = 'hola mundo'
dir(frase)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### help() :  nos muestra toda la ayuda del objeto que le envíemos como parámetro

In [2]:
help(dir)

Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

In [ ]:
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> str
Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(...)
 |      S.__format__(format_spec) -> str
 |
 |      Return a formatted version of S as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(...)
 |      S.capitalize() -> str
 |
 |      Return a capitalized version of S, i.e. make the first character
 |      have upper case and the rest lower case.
 |
 |  casefold(...)
 |      S.casefold() -> str
 |
 |      Return a version of S suitable for caseless comparisons.
 |
 |  center(...)
 |      S.center(width[, fillchar]) -> str
 |
 |      Return S centered in a string of length width. Padding is
 |      done using the specified fill character (default is a space)
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(...)
 |      S.encode(encoding='utf-8', errors='strict') -> bytes
 |
 |      Encode S using the codec registered for encoding. Default encoding
 |      is 'utf-8'. errors may be given to set a different error
 |      handling scheme. Default is 'strict' meaning that encoding errors raise
 |      a UnicodeEncodeError. Other possible values are 'ignore', 'replace' and
 |      'xmlcharrefreplace' as well as any other name registered with
 |      codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(...)
 |      S.expandtabs(tabsize=8) -> str
 |
 |      Return a copy of S where all tab characters are expanded using spaces.
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(...)
 |      S.isalnum() -> bool
 |
 |      Return True if all characters in S are alphanumeric
 |      and there is at least one character in S, False otherwise.
 |
 |  isalpha(...)
 |      S.isalpha() -> bool
 |
 |      Return True if all characters in S are alphabetic
 |      and there is at least one character in S, False otherwise.
 |
 |  isdecimal(...)
 |      S.isdecimal() -> bool
 |
 |      Return True if there are only decimal characters in S,
 |      False otherwise.
 |
 |  isdigit(...)
 |      S.isdigit() -> bool
 |
 |      Return True if all characters in S are digits
 |      and there is at least one character in S, False otherwise.
 |
 |  isidentifier(...)
 |      S.isidentifier() -> bool
 |
 |      Return True if S is a valid identifier according
 |      to the language definition.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers
 |      such as "def" and "class".
 |
 |  islower(...)
 |      S.islower() -> bool
 |
 |      Return True if all cased characters in S are lowercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  isnumeric(...)
 |      S.isnumeric() -> bool
 |
 |      Return True if there are only numeric characters in S,
 |      False otherwise.
 |
 |  isprintable(...)
 |      S.isprintable() -> bool
 |
 |      Return True if all characters in S are considered
 |      printable in repr() or S is empty, False otherwise.
 |
 |  isspace(...)
 |      S.isspace() -> bool
 |
 |      Return True if all characters in S are whitespace
 |      and there is at least one character in S, False otherwise.
 |
 |  istitle(...)
 |      S.istitle() -> bool
 |
 |      Return True if S is a titlecased string and there is at least one
 |      character in S, i.e. upper- and titlecase characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |      Return False otherwise.
 |
 |  isupper(...)
 |      S.isupper() -> bool
 |
 |      Return True if all cased characters in S are uppercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  join(...)
 |      S.join(iterable) -> str
 |
 |      Return a string which is the concatenation of the strings in the
 |      iterable.  The separator between elements is S.
 |
 |  ljust(...)
 |      S.ljust(width[, fillchar]) -> str
 |
 |      Return S left-justified in a Unicode string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  lower(...)
 |      S.lower() -> str
 |
 |      Return a copy of the string S converted to lowercase.
 |
 |  lstrip(...)
 |      S.lstrip([chars]) -> str
 |
 |      Return a copy of the string S with leading whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(...)
 |      S.partition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, and return the part before it,
 |      the separator itself, and the part after it.  If the separator is not
 |      found, return S and two empty strings.
 |
 |  replace(...)
 |      S.replace(old, new[, count]) -> str
 |
 |      Return a copy of S with all occurrences of substring
 |      old replaced by new.  If the optional argument count is
 |      given, only the first count occurrences are replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(...)
 |      S.rjust(width[, fillchar]) -> str
 |
 |      Return S right-justified in a string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  rpartition(...)
 |      S.rpartition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, starting at the end of S, and return
 |      the part before it, the separator itself, and the part after it.  If the
 |      separator is not found, return two empty strings and S.
 |
 |  rsplit(...)
 |      S.rsplit(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string, starting at the end of the string and
 |      working to the front.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified, any whitespace string
 |      is a separator.
 |
 |  rstrip(...)
 |      S.rstrip([chars]) -> str
 |
 |      Return a copy of the string S with trailing whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(...)
 |      S.split(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified or is None, any
 |      whitespace string is a separator and empty strings are
 |      removed from the result.
 |
 |  splitlines(...)
 |      S.splitlines([keepends]) -> list of strings
 |
 |      Return a list of the lines in S, breaking at line boundaries.
 |      Line breaks are not included in the resulting list unless keepends
 |      is given and true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(...)
 |      S.strip([chars]) -> str
 |
 |      Return a copy of the string S with leading and trailing
 |      whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(...)
 |      S.swapcase() -> str
 |
 |      Return a copy of S with uppercase characters converted to lowercase
 |      and vice versa.
 |
 |  title(...)
 |      S.title() -> str
 |
 |      Return a titlecased version of S, i.e. words start with title case
 |      characters, all remaining cased characters have lower case.
 |
 |  translate(...)
 |      S.translate(table) -> str
 |
 |      Return a copy of the string S in which each character has been mapped
 |      through the given translation table. The table must implement
 |      lookup/indexing via __getitem__, for instance a dictionary or list,
 |      mapping Unicode ordinals to Unicode ordinals, strings, or None. If
 |      this operation raises LookupError, the character is left untouched.
 |      Characters mapped to None are deleted.
 |
 |  upper(...)
 |      S.upper() -> str
 |
 |      Return a copy of S converted to uppercase.
 |
 |  zfill(...)
 |      S.zfill(width) -> str
 |
 |      Pad a numeric string S with zeros on the left, to fill a field
 |      of the specified width. The string S is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

### str() :  transforma a string el argumento que yo le indique

In [4]:
a = 54
str(a)

'54'

### print() :  Imprime en pantalla lo que envíemos

In [18]:
print('Hola Mundo')

Hola Mundo

In [19]:
print('Hola','Mundo')

Hola Mundo

### int() :  Transforma a entero

In [1]:
a = '103'
int(a)
print(int(a) + 20)

123

### len() :  Entrega el largo del objeto

In [7]:
frase = 'hola mundo'
len(frase)

10

In [8]:
frase = frase[0:4]
print(frase)

hola

In [9]:
frase.find('a')

3

In [10]:
list(frase)

['h', 'o', 'l', 'a']

In [11]:
lista = list(frase)
print(lista)

['h', 'o', 'l', 'a']

In [12]:
lista.remove('a')
print(lista)

['h', 'o', 'l']

In [17]:
new_frase = ';'.join(lista)
print(new_frase)

h;o;l

In [18]:
new_frase = ''.join(lista)
print(new_frase)

hol

### del: funcion para eliminar variables

In [4]:
del frase
print(frase)

NameError: name 'frase' is not defined

In [ ]:
%reset -f # parte desde 0 python

### type() :  entrega el tipo de dato que es el objeto entregado como parámetro

In [4]:
num = 456
type(num)

int

In [5]:
num = 12.3
type(num)

float

In [23]:
num = '12,3'
print(num)
#num = (12,3)
num = num.replace(',','.')
print(num)
num = float(num)
print(num)

12,3
12.3
12.3

### split() :  es una función exclusiva de los string, nos ayuda a separarlos con el parámetro entregado

In [8]:
frase = 'esto es un oración larga'
frase.split('o')  # el resultado obtenido es una lista

['est', ' es un ', 'ración larga']

In [24]:
frase = 'esto es una oración larga'
lista = list(frase)
print(lista)

['e', 's', 't', 'o', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 'o', 'r', 'a', 'c', 'i', 'ó', 'n', ' ', 'l', 'a', 'r', 'g', 'a']

In [25]:
frase = 'esto es un oración larga'
frase.split(' ')  # el resultado obtenido es una lista

['esto', 'es', 'un', 'oración', 'larga']

### join() :  es una función exclusiva de los string, nos ayuda a juntar los string o caracteres

In [12]:
a = ['d','a','v','b']
','.join(a)

'd,a,v,b'

In [13]:
';'.join(a)

'd;a;v;b'

In [14]:
'-'.join(a)

'd-a-v-b'

In [15]:
' '.join(a)

'd a v b'

### in :  nos sirve para ver si un elemento esta o no en una agrupación de elementos

In [17]:
frase = 'hola mundo'
'o' in frase

True

In [18]:
'hol' in frase

True

In [19]:
'chao' in frase

False

## Objetos vistos:

### Listas: es una agrupación de varios objetos, donde la llave es [ ]

In [26]:
lista = [1,2,4,'hola',2,-1,[2,3]]
print(lista)
print(len(lista))

[1, 2, 4, 'hola', 2, -1, [2, 3]]
7

### Para ordenar la lista de menor a mayor

In [29]:
lista = [2,1,-5,10,7]
print(lista)
lista.sort()
print(lista)

[2, 1, -5, 10, 7]
[-5, 1, 2, 7, 10]

### Para ordenar la lista de mayor a menor

In [30]:
lista.sort(reverse = True)
print(lista)

[10, 7, 2, 1, -5]

### Para agregar elementos nuevos a la lista

In [31]:
lista.append(15)
print(lista)

[10, 7, 2, 1, -5, 15]

In [27]:
help(lista.insert)

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

In [32]:
lista.insert(2,16)
print(lista)

[10, 7, 16, 2, 1, -5, 15]

In [33]:
lista.sort()
print(lista)

[-5, 1, 2, 7, 10, 15, 16]

### Para eliminar un elemento de la lista (remove)

In [4]:
lista.remove(2)
print(lista)

[10, 7, 1, -5, 15]

In [34]:
lista.append(1)
print(lista)

[-5, 1, 2, 7, 10, 15, 16, 1]

In [35]:
lista.remove(1)
print(lista)

[-5, 2, 7, 10, 15, 16, 1]

In [36]:
lista.append(1)
print(lista)

[-5, 2, 7, 10, 15, 16, 1, 1]

In [37]:
lista.count(1)

2

In [38]:
contador = lista.count(1)
for x in range(contador):
    lista.remove(1)
print(lista)

[-5, 2, 7, 10, 15, 16]

### Para contar las veces que un elemento aparece en la lista (count)

In [6]:
lista = [1,'s','2','a',10,'a']
print(lista)
lista.count('a')

[1, 's', '2', 'a', 10, 'a']

2

### Tuplas :  es una agrupación de varios objetos, donde la llave es ()

In [39]:
tupla = (1,2,3,[1,2,'a'])
print(len(tupla))
print(tupla)

4
(1, 2, 3, [1, 2, 'a'])

### para encontrar el indice donde se ubica un elemento dentro de la tupla (index)

In [11]:
tupla.index(3)

2

In [13]:
tupla.index([1,2,'a'])

3

In [14]:
tupla.count(1)

1

### Sets :  es una agrupación de varios objetos, donde cada elemento es unico. la llave es {}

In [40]:
#conj = {'1','d','f','e',[1,2]} # un conjunto no puede contener listas dentros, pero si tuplas
conj = {'1','d','f','e',(1,2)}
print(conj)

{(1, 2), '1', 'e', 'd', 'f'}

In [41]:
conj.add('ho')
print(conj)

{(1, 2), '1', 'e', 'd', 'ho', 'f'}

In [42]:
for x in conj:
    print(x)

(1, 2)
1
e
d
ho
f

In [43]:
list(conj)

[(1, 2), '1', 'e', 'd', 'ho', 'f']

In [44]:
tuple(conj)

((1, 2), '1', 'e', 'd', 'ho', 'f')

### para extraer de manera aleatoria un objeto del set(conjunto), utilizamos pop()

In [45]:
conj.pop()

(1, 2)

In [46]:
conj.pop()

'1'

In [47]:
print(conj)

{'e', 'd', 'ho', 'f'}

In [48]:
dir(conj)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### también podemos eliminar un objeto específico dentro del set (remove), la condición es que si o si debe estar

In [49]:
conj.remove('e')
print(conj)

{'d', 'ho', 'f'}

#### Para eliminar un objeto sin necesariamente que tenga que estar (no da problemas si el objeto no esta) con discard

In [50]:
conj.discard('1')

In [51]:
print(conj)

{'d', 'ho', 'f'}

In [52]:
conj.discard('z')
print(conj)

{'d', 'ho', 'f'}

#### Operaciones entre conjuntos:

In [38]:
# uniones de conjuntos
a = {1,2,3,4}
b = {3,4,5,6}
print(a|b)
print(a&b)
print(a-b)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

### Diccionarios: es una agrupación de objetos donde por conjuntos estan catalogados con una llave

In [40]:
telefonos = {'juan':8909, 'pedro':1123}
print(telefonos)

{'juan': 8909, 'pedro': 1123}

#### En este caso, resulto que juan y pedro son las llaves del diccionario, y 8909 y 1123 son los registros asociados a las llaves

#### Para citar a una llave del diccionario junto con todos los registros asociados a aquella llave, podemos utilizar:

In [42]:
telefonos['pedro']

1123

#### para actualizar la información asociada a una llave:

In [43]:
telefonos['pedro'] = 5578
print(telefonos)

{'juan': 8909, 'pedro': 5578}

#### también sirve el metodo pop(), para los diccionarios con la salvedad que debemos pasarle alguna llave del diccionario.

In [44]:
telefonos.pop('juan')

8909

In [45]:
print(telefonos)

{'pedro': 5578}

### También podemos crear un diccionario con mas registros por llaves, como por ejemplo:

In [2]:
telefonos = {'juan':[8909,'la florida'], 'pedro':[1123,'las condes']}
print(telefonos)

{'juan': [8909, 'la florida'], 'pedro': [1123, 'las condes']}

### Para crear un diccionario a partir de una lista:

In [54]:
lista = [('juan',4536),('pedro',7683),('pablo',9876)]
print(lista)

[('juan', 4536), ('pedro', 7683), ('pablo', 9876)]

In [55]:
phones = dict(lista)
print(phones)

{'juan': 4536, 'pedro': 7683, 'pablo': 9876}

In [56]:
phones.keys()  # para ver las llaves del diccionario

dict_keys(['juan', 'pedro', 'pablo'])

In [57]:
dir(lista)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Range :  Es un generados de numeros enteros

range(0:10) <==> range(10)

In [47]:
print(range(10))

range(0, 10)

In [58]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
print(tuple(range(10)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### Convertiendo de un objeto a otro

* Lista -> tupla : tuple
* tupla -> lista : list
* lista -> set   : set
* set -> lista   : set
* set -> tupla   : tuple
* tupla -> set   : tuple
* range -> list  : list
* range -> tupla : tuple

* diccionario -> lista : list     # solo traera las llaves(keys)
* diccinario -> set    : set      # solo traera las llaves(keys)
* diccinario -> tupla  : tuple    # solo traera las llaves(keys)

#### Solo en algunos casos funcionara llevar listas, set, tuplas a diccionarios.
#### Una función que ayuda mucho a eso es la función zip

In [7]:
zip(range(1,10),range(9))
list(zip(range(1,10),range(9)))

[(1, 0), (2, 1), (3, 2), (4, 3), (5, 4), (6, 5), (7, 6), (8, 7), (9, 8)]

In [61]:
for (x,y) in zip(range(1,10),range(9)):
    print(x,y)

1 0
2 1
3 2
4 3
5 4
6 5
7 6
8 7
9 8

In [72]:
combinacion = zip(range(1,10),range(9))
print(list(combinacion))

[(1, 0), (2, 1), (3, 2), (4, 3), (5, 4), (6, 5), (7, 6), (8, 7), (9, 8)]

In [62]:
print(lista)

[('juan', 4536), ('pedro', 7683), ('pablo', 9876)]

In [63]:
for (x,y) in lista:
    print(x,y)

juan 4536
pedro 7683
pablo 9876

In [64]:
for (x,y) in lista:
    print("Nombre: %s, y su número es: %s" %(x,y))

Nombre: juan, y su número es: 4536
Nombre: pedro, y su número es: 7683
Nombre: pablo, y su número es: 9876

In [65]:
for (x,y) in lista:
    if x == 'pedro':
        print("Nombre: %s, y su número es: %s" %(x,y))

Nombre: pedro, y su número es: 7683

In [70]:

list(zip(range(10),range(10)))

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]

### Bucles: For, While

In [73]:
for x in range(5):
    print('hola mundo')

hola mundo
hola mundo
hola mundo
hola mundo
hola mundo

In [66]:
for x in range(5):
    print('hola mundo: ' + str(x) )

hola mundo: 0
hola mundo: 1
hola mundo: 2
hola mundo: 3
hola mundo: 4

In [85]:
x = 0
l = []
while(x<5):
    print('hola mundo')
    l.append(str(x))
    x +=1    
print(l)
frase = '-'.join(l)
print(frase)

hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
['0', '1', '2', '3', '4']
0-1-2-3-4

### Condicionales: If

In [89]:
z = 10
w = 9
if z == 8:
    print('es 8')
    if w == 10:
        print("el valor de z es %s y el valor de w es %s" %(z,w))
elif z == 10:
    print('es 10')
    if w != 10:
        print("el valor de z es distinto de 8 y es %s y el valor de w es %s" %(z,w))

es 10
el valor de z es distinto de 8 y es 10 y el valor de w es 9

## funciones:

* Utilizaremos las funciones para cuando necesitemos realizar algún tipo de cálculo o para generar alguna data con características según los datos que tengamos

# ejemplo:

* sintaxis:
    def funcion(parámetros):
        Cuerpo de la función

In [90]:
def mi_primera_funcion(x,y):
    return(x+y)

In [91]:
print(mi_primera_funcion(4,5))

9

* También podemos crear funciones sin la necesidad de enviarle parámetros, solo que haga algo interno:

In [92]:
# Por ejemplo nos gustaría obtener la fecha del día de hoy:
import datetime as dt
def mi_segunda_function():
    return dt.date.today()

print(mi_segunda_function())

2019-12-11

In [93]:
# Por ejemplo nos gustaría obtener la fecha del día de hoy:
import datetime as dt
def mi_segunda_function():
    return (dt.date.today(),dt.date.today() - dt.timedelta(1))

print(mi_segunda_function())

(datetime.date(2019, 12, 11), datetime.date(2019, 12, 10))

In [97]:
# Por ejemplo nos gustaría obtener la fecha del día de hoy:
import datetime as dt
def mi_segunda_function():
    return (dt.date.today(),dt.date.today() - dt.timedelta(1))
fechas = mi_segunda_function()
print("el día de hoy es %s, y el día de ayer fue: %s " %(str(fechas[0]),str(fechas[1])))

el día de hoy es 2019-12-11, y el día de ayer fue: 2019-12-10

In [99]:
# Por ejemplo nos gustaría obtener la fecha del día de hoy:
import datetime as dt
def mi_segunda_function():
    return (str(dt.date.today()),str(dt.date.today() - dt.timedelta(1)))
fechas = mi_segunda_function()
print("el día de hoy es %s, y el día de ayer fue: %s " %(fechas[0],fechas[1]))

el día de hoy es 2019-12-11, y el día de ayer fue: 2019-12-10

In [100]:
# Por ejemplo nos gustaría obtener la fecha del día de hoy:
import datetime as dt
def mi_segunda_function():
    return (dt.date.today().strftime('%d.%m.%y'),(dt.date.today() - dt.timedelta(1)).strftime('%d.%m.%y'))
fechas = mi_segunda_function()
print("el día de hoy es %s, y el día de ayer fue: %s " %(fechas[0],fechas[1]))

el día de hoy es 11.12.19, y el día de ayer fue: 10.12.19

In [102]:
def mi_tercera_function():
    return (dt.datetime.today()-dt.timedelta(1))

print(mi_tercera_function())

2019-12-10 10:57:53.471702

## Tarea

#### crear una lista llamada numero, que contenga los cubos de los numeros desde el 0,...,10

In [107]:
numero = []
for x in range(11):
    numero.append(x**3)
print(   numero   )

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### Crear una lista llamada nombre con los nombres escritos de la siguiente forma:
#### juan0, juan1,....,juan10

In [110]:
nombre = []
for x in range(11):
    nombre.append('''juan''' + str(x))
print(nombre)

['juan0', 'juan1', 'juan2', 'juan3', 'juan4', 'juan5', 'juan6', 'juan7', 'juan8', 'juan9', 'juan10']

#### luego crear una tupla con la combinación de los nombres con los numeros de la siguiente forma:
#### (0,juan0),....,(10^3,juan10)

In [111]:
todo = tuple(zip(numero,nombre))
print(todo)

((0, 'juan0'), (1, 'juan1'), (8, 'juan2'), (27, 'juan3'), (64, 'juan4'), (125, 'juan5'), (216, 'juan6'), (343, 'juan7'), (512, 'juan8'), (729, 'juan9'), (1000, 'juan10'))

#### Finalmente imprimir estos como texto formal utilizando el comando zip o la tupla recien creada

In [115]:
for (x,y) in todo:
    print("la persona %s tiene el número asociado %s" %(y,x))

la persona juan0 tiene el número asociado 0
la persona juan1 tiene el número asociado 1
la persona juan2 tiene el número asociado 8
la persona juan3 tiene el número asociado 27
la persona juan4 tiene el número asociado 64
la persona juan5 tiene el número asociado 125
la persona juan6 tiene el número asociado 216
la persona juan7 tiene el número asociado 343
la persona juan8 tiene el número asociado 512
la persona juan9 tiene el número asociado 729
la persona juan10 tiene el número asociado 1000

## Funciones mas cortas: lambda

In [116]:
funcion_corta = lambda n: (n*100)
print(funcion_corta(5))

500

In [118]:
def funcion_corta(n):
    return(100*n)

In [117]:
# Para llamar a la función, basta con llamar como esta escrita como variable y el trata de mostrarte:
funcion_corta(9)

900

### Una función muy util dentro del objeto String es la función find, la cual nos permite encontrar ya sea un caracter o un conjunto de caracteres dentro de una frase o palabra, es similar a la función encontrar de excel

#### Veamos un ejemplo:

In [122]:
frase = 'hola mundo'
pos_1 = frase.find('la')
pos_2 = frase.find('mu')
# luego que encontramos las posiciones, imprimimos:
print(pos_1)
print(pos_2)

print(frase[pos_1:pos_2])

2
5
la

# Librerías:
#### las librerías en python sirven para acceder a mas funciones de cosas que se puedan hacer para poder tener mas recursos a la hora de poder programar nuestros códigos

### Algunas de las librerías que hemos utilizado se encuentran:
#### * pandas: para tratamiento de archivos y basicamente trabajar con Data frames
#### * datetime: para tratar con fechas
#### * xlswings: para poder abrir archivos excel en modo edición
#### * win32com: para poder interactuar con las aplicaciones de microsoft office, en particular se hará con outlook
#### * BeatifulSoup: para poder leer codigo html de paginas webs
#### * requests: para poder traer todo lo relacionado a una pagina web

## Data Frames

#### Los Data Frames son muy utiles a la hora tratar la información de tablas, de excel, de txt...cualquier tipo de información que podamos separar y luego tabular.

##### Dentro de las cosas vistas con Data Frames, son las siguiente:
* read_excel: para leer un excel cualquiera (importar)
* loc e iloc: para acceder a celdas particulares del data frame
* to_excel: para entregar como salida un excel con el nombre que demos el resultado de un data frame (exportar)

### Para leer data desde un excel por ejemplo del archivo "Ventas_comercial.xlsx" importamos la librería pandas y luego utilizamos el siguiente comando:

In [123]:
import pandas as pd

In [124]:
data = pd.read_excel("Ventas_comercial.xlsx")

#### Para ver que cargamos en data, podemos utilizar el comando print() o si solo quiero ver las 5 primeras filas utilizo el comando head:

In [125]:
print(data)

         Fecha  Cantidad       Ventas       Costos
0   2019-01-02        49  1024.311357  1003.511702
1   2019-01-03        58  1027.946886  1003.951546
2   2019-01-04        35  1031.727637  1004.391587
3   2019-01-07        65  1035.657459  1004.831823
4   2019-01-08        95  1039.740208  1005.272257
5   2019-01-09        74  1043.979749  1005.712887
6   2019-01-10        52  1048.379946  1006.153714
7   2019-01-11        25  1052.944657  1006.594738
8   2019-01-14        23  1057.677731  1007.035959
9   2019-01-15        44  1062.582999  1007.477378
10  2019-01-16        69  1067.664273  1007.918994
11  2019-01-17        91  1072.925333  1008.360808
12  2019-01-18        64  1078.369926  1008.802819
13  2019-01-21        22  1084.001757  1009.245029
14  2019-01-22        32  1089.824484  1009.687436
15  2019-01-23        95  1095.841707  1010.130041
16  2019-01-24        56  1102.056963  1010.572845
17  2019-01-25        55  1108.473718  1011.015846
18  2019-01-28        94  1115.095359  1011.459047
19  2019-01-29        60  1121.925185  1011.902445
20  2019-01-30        56  1128.966396  1012.346042
21  2019-01-31        91  1136.222091  1012.789838
22  2019-02-01        18  1143.695252  1013.233833
23  2019-02-04        79  1151.388735  1013.678026
24  2019-02-05        75  1159.305265  1014.122419
25  2019-02-06        16  1167.447422  1014.567010
26  2019-02-07        18  1175.817630  1015.011800
27  2019-02-08        84  1184.418153  1015.456789
28  2019-02-11        69  1193.251074  1015.901977
29  2019-02-12        77  1202.318294  1016.347365
..         ...       ...          ...          ...
141 2019-07-22        76  2396.128105  1183.023047
142 2019-07-23        93  2468.011948  1064.720743
143 2019-07-24        72  2665.452904  1064.720743
144 2019-07-25        70  2452.216672  1171.192817
145 2019-07-26        71  2574.827505  1171.192817
146 2019-07-29        54  2778.310973  1417.143308
147 2019-07-30        53  2528.262986  1275.428978
148 2019-07-31        66  2275.436687  1402.971875
149 2019-08-01       100  2161.664853  1402.971875
150 2019-08-02        75  2075.198259  1402.971875
151 2019-08-05        82  2061.032955  1136.407219
152 2019-08-06        98  2081.643285  1022.766497
153 2019-08-07        67  2060.826852   920.489847
154 2019-08-08        97  1916.568973  1012.538832
155 2019-08-09        81  2108.225870   911.284949
156 2019-08-12        69  2531.439564   738.140809
157 2019-08-13        87  2480.810773   738.140809
158 2019-08-14       100  2704.083742   664.326728
159 2019-08-15        51  2893.369604   664.326728
160 2019-08-16        77  2661.900036   730.759401
161 2019-08-19        54  2457.998493   972.640762
162 2019-08-20        78  2212.198644   875.376686
163 2019-08-21        64  2367.052549   787.839017
164 2019-08-22        92  2414.393600   709.055116
165 2019-08-23        53  2341.961792   709.055116
166 2019-08-26        97  2282.372916   701.964564
167 2019-08-27        83  2282.372916   631.768108
168 2019-08-28        70  2396.491562   568.591297
169 2019-08-29        76  2300.631899   625.450427
170 2019-08-30        97  2530.695089   562.905384

[171 rows x 4 columns]

In [127]:
data.head(10)

       Fecha  Cantidad       Ventas       Costos
0 2019-01-02        49  1024.311357  1003.511702
1 2019-01-03        58  1027.946886  1003.951546
2 2019-01-04        35  1031.727637  1004.391587
3 2019-01-07        65  1035.657459  1004.831823
4 2019-01-08        95  1039.740208  1005.272257
5 2019-01-09        74  1043.979749  1005.712887
6 2019-01-10        52  1048.379946  1006.153714
7 2019-01-11        25  1052.944657  1006.594738
8 2019-01-14        23  1057.677731  1007.035959
9 2019-01-15        44  1062.582999  1007.477378

In [128]:
data.tail()

         Fecha  Cantidad       Ventas      Costos
166 2019-08-26        97  2282.372916  701.964564
167 2019-08-27        83  2282.372916  631.768108
168 2019-08-28        70  2396.491562  568.591297
169 2019-08-29        76  2300.631899  625.450427
170 2019-08-30        97  2530.695089  562.905384

#### Una vez teniendo el data frame cargado como archivo podemos manipularlo agregando columnas, modificando datos y luego exportarlo.

In [134]:
print(data[  ['Ventas','Costos']  ].head())
print(data[  ['Ventas','Costos']  ].tail())

        Ventas       Costos
0  1024.311357  1003.511702
1  1027.946886  1003.951546
2  1031.727637  1004.391587
3  1035.657459  1004.831823
4  1039.740208  1005.272257
          Ventas      Costos
166  2282.372916  701.964564
167  2282.372916  631.768108
168  2396.491562  568.591297
169  2300.631899  625.450427
170  2530.695089  562.905384

In [135]:
data_2 = pd.read_csv('https://raw.githubusercontent.com/emanuelgit/Python_Program_BI/master/data/auto/auto-mpg.csv')

In [137]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any \
    object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : list-like or callable, default None
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element
        order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [136]:
data_2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [138]:
data['Utilidad'] = data['Ventas'] - data['Costos']

In [140]:
data['Utilidad'].head(3)

0    20.799655
1    23.995340
2    27.336051
Name: Utilidad, dtype: float64

#### Automaticamente el data frame data paso a tener una columnas nueva llamada Utilidad, finalmente esto lo podemos exportar a un excel, digamos "ventas_utilidad.xlsx"

In [141]:
data.to_excel('ventas_utilidad.xlsx')

#### Para movernos dentro del Data frame, con loc e iloc la forma de utilizarlos es la siguiente:
#### * data.loc[posicion_index,nombre_columnas]
#### * data.iloc[posicion_index,posicion_columna]

#### Tener presente que la columna index del data frame no es una columna que pertenece al data frame, y que todo registro del data frame parte tanto en fila como columna en 0

#### Ejemplo: citaremos el valor de una celda del data frame de dos formas distintas: con .loc e .iloc

In [142]:
# loc:
print(data.loc[4,'Ventas'])

# iloc:
print(data.iloc[4,2])

1039.7402078386347
1039.7402078386347

In [143]:
data.head(5)

       Fecha  Cantidad       Ventas       Costos   Utilidad
0 2019-01-02        49  1024.311357  1003.511702  20.799655
1 2019-01-03        58  1027.946886  1003.951546  23.995340
2 2019-01-04        35  1031.727637  1004.391587  27.336051
3 2019-01-07        65  1035.657459  1004.831823  30.825635
4 2019-01-08        95  1039.740208  1005.272257  34.467951